numpy>=1.18.5
matplotlib>=3.0.1
scipy>=1.1.0
seaborn>=0.9.0
pandas
tables>=3.6.1
ipython-autotime
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator

# pip uninstall msgpack-python
# conda update python
# conda update jupyter
# conda update notebook
# conda update matplotlib
# conda update seaborn
# conda install -c anaconda libgcc
# conda install -c conda-forge libsodium
# jupyter contrib nbextension install --user
